/node_modules/
**/*node_modules

/vendor/
vendor/**/test*
vendor/**/tests*
vendor/**/Tests*

/server/archive/
/data/
.editorconfig
.idea/
.git
.cache
*.md
!README*.md
**.git
**.gitignore
**.gitattributes
**.sass-cache

storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

bootstrap/cache/services.php

scripts/deployment-script.sh
Dockerfile
docker-compose.yml

db
data
.github/
server/archive/

database/database.sqlite
