/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

server/archive/
server/confs/
server/php/
db/
notes.txt

run/var
/db/
/storage/debugbar/
composer.lock
package-lock.json